<% action = user.persisted? ? user_url(user.id) : users_url %>
<% method = user.persisted? ? "patch" : "post" %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <%= render "auth_token" %>

  <label>Username
    <input type="text" name="user[username]" value="<%= user.username %>">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit">
</form>
